{
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-extra-parens": "error",
    "no-extra-parens": "off",
    "space-before-function-paren": "off",
    "prefer-arrow-callback": "off",
    "prefer-reflect": "off", // This has been deprecated https://eslint.org/docs/latest/rules/prefer-reflect
    "brace-style": "off"
  }
}
