/.github/
/node_modules/
/src/
/modules/
/scripts/
/services/
/tests/
/types/
/docs/
*.log
*.test.ts
/.eslintignore
/.eslintrc
/docker-compose.yml
/Dockerfile
/jest.config.js
/tsconfig.json
/typedoc.json
