# Provide an openai api key to run the agent and pipeline tests
# OPENAI_API_KEY=sk-proj-qqVSdKZ...Mvl3aw7gFuAEMA

# Connnect as follows to run the tests against a remote postgres instance (supabase)
# replace XXXXX and YYYYY with your supabase credentials
# POSTGRES_IS_REMOTE=true
# POSTGRES_HOST=aws-0-us-west-1.pooler.supabase.com
# POSTGRES_PORT=5432
# POSTGRES_DB=postgres
# POSTGRES_USER=postgres.XXXXX
# POSTGRES_PASSWORD=YYYYY
